/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Jost Font */
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--weight, 400); /* Default: Regular */
  font-style: var(--style, normal);
}

/* Roboto Font */
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--weight, 400); /* Default: Regular */
  font-style: var(--style, normal);
  font-variation-settings: "wdth" 100;
}

/* Apply Jost as Default */
html,
body {
  font-family: "Jost", sans-serif;
}

/* Brown Text */
.text-brown {
  color: #ae6802;
}

.profile-icon {
  background: url("/images/profile.png") no-repeat center center;
  background-size: cover; /* Makes sure it covers the entire area */
  width: 150px;
  height: 150px;
  display: inline-block;
}
