@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost";
  font-weight: normal;
  font-style: normal;
}

/* Import Roboto Font */
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Jost", sans-serif; /* Default font */
}

.text-brown {
  color: #ae6802;
}
